.btn {
	font-family: var(--font-family);
	font-weight: 700;
	line-height: 138%;
	letter-spacing: 0.02em;
	border-radius: var(--radius-md);
	padding: 0.875rem 1.875rem;
	color: var(--white);
	background: var(--accent-color);
}
