.wrapper {
	display: grid;
	gap: 1rem;
}

.description {
	font-weight: 400;
	font-size: 18px;
	line-height: 125%;
	color: #1c1c1c;
}

.btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 138%;
	letter-spacing: 0.02em;
	color: var(--white);
	text-align: center;
	background: var(--accent-color);
	max-width: 178px;
	border-radius: 12px;
	padding: .8rem 1.9rem;
}
