:root {
	--font-family: 'Proxima Nova', sans-serif;
	--second-family: 'Inter', sans-serif;

	--container-w: 75rem;
	--container-p: 1rem;

	/* Colors */
	--white: #fff;
	--black: #000;
	--dark: #2f2f2f;
	--dark-light: #242424;
	--accent-color: #e92129;
	--accent-hover: #e4252c;
	--accent-dark: #782326;

	/* Spacing */
	--radius-sm: 0.75rem;
	--radius-md: 1.25rem;
}
