@use 'normalize.css';

@use './scss/abstracts/animations';
@use './scss/abstracts/functions';
@use './scss/abstracts/fonts';
@use './scss/abstracts/media';
@use './scss/abstracts/mixins';
@use './scss/abstracts/variables';

@use './scss/base/reset';
@use './scss/base/typography';
@use './scss/base/container';

body {
	font-family: var(--font-family);
}

html {
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: 6px;
	}

	::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 6px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: linear-gradient(
			140deg,
			var(--dark-light) 0%,
			var(--accent-dark) 42.4%,
			var(--accent-color) 100%
		);
	}
}

.swiper {
	position: relative;
	height: 29rem;
}

.swiper-slide {
	max-height: 25rem;
}

.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	display: grid;
	place-items: center;
	border-radius: 100%;
	color: var(--white);
	background: var(--accent-color);
	box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.07);
	width: 2.5rem;
	height: 2.5rem;
	z-index: 10;
	cursor: pointer;
}

.swiper-button-prev {
	right: 4rem;
	bottom: 0;
	transform: rotate(-180deg);
}

.swiper-button-next {
	right: 0;
	bottom: 0;
}
